@model List<GymManager.Core.Entities.EquipmentType>
@{
}


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipmentType in Model)
        {
            <tr>
                <th>@equipmentType.Name</th>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-warning" asp-route-equipmentTypeId="@equipmentType.Id">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-equipmentTypeId="@equipmentType.Id">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
